h1 { 
            
  color: gold;
  background-color: navy;
  border: solid;
  display: inline-block;
  padding: 10px 10px;
	
     }
.main-title{ text-align: center;
             margin-top: 15px;}
    
nav{text-align:center;
    padding:10px;
    background-color:gold;
    border:solid;}
nav a {display:inline-block;
margin: 0 8px;
text-decoration:none;
background-color: navy;
color: gold;
padding: 6px 12px;
border-radius: 6px;
font-weight: bold;

}   
	
	
	
body {background-image: url("curtains.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
	 margin: 0;
  padding: 0;
  
}


.teachers-grid {
   display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 40px; 
  padding-bottom: 20px;
margin-top: -50px;  
}

.card {
  text-align: center;
}

.card img {
  width: 75%;
  aspect-ratio: 1 / 1; 
  object-fit: cover;
  border: 2px solid navy;
}
.gold-accessory {
  display: block;
    width: 850px; 
    height: auto;
    margin: -20px auto 50px auto; 
	box-shadow: none !important;
}
header {
  margin-bottom: 20px;
}

main {
margin-top: 0;}
 
 html, body {
    margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;

}
.card .name {
  margin-top: 5px;
  margin-bottom: 2px;
  font-weight: bold;
}

.card .subject {
  margin: 2px 0;
  font-size: 0.9rem;
}

.card .quote {
  margin-top: 3px;
  line-height: 1.4;
  font-style: italic;
}
.main-title h1 {
    margin-top: 80px;
  margin-bottom:-20px;

}
nav a {
	transition:
	   background-color 0.3s ease,
	   color 0.3s ease,
	   transform 0.2s ease,
	   box-shadow 0.2s ease;
}
nav a:hover{
	background-color: #FCFBF4;
	color:navy;
	tranform: translateY(-2px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}
img:hover{
	tranform: translateY(-2px);
box-shadow: 6px 6px 6px gold;
cursor: pointer;
}
 nav a:active {
  background-color: linear-gradient(to bottom, #bbd6f2, #a9cef5);
  color: #4fa3ff;
  transform: translateY(2px);
  box-shadow: none;
}